@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>MainPanel is welcoming!</h2>

<a asp-action="AddCalf">Add Calf</a>
<a asp-action="DetailsForAll">Get cow</a>
<a asp-action="AddInsemination">Add new insemination</a>
